
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@{
    ViewData["Title"] = "Home Page";
}
<!-- <p> ASPNETCORE_ENVIRONMENT = @hostingEnv.EnvironmentName</p> -->
<app asp-prerender-module="ClientApp/dist/main-server">Vega Planner Server Up and Running With Cors V11. Environmnent = @hostingEnv.EnvironmentName</app>



